.back-to-home{
    text-align: center;
    margin:1.5rem 0;
}

.back-to-home button{
    background-color: #060458;
    color: #ffffff;
    padding: 10px 20px;
    border: 1px solid #060458;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.back-to-home button:hover{
    background-color: #ffffff;
    color: #060458;
}