.booking-container{
    max-width: 500px;
    margin: 2rem auto;
    padding: 1.5rem;
    border-radius: 5px;
    background-color: #fdfdfd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.book{
    margin-bottom: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    color:#060458 ;
    margin-bottom: 2rem;
}

.booking-form input,
.booking-form textarea,
.booking-form button{
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #060458;
    border-radius: 4px;
    font-size: 0.9rem;
}

.booking-form button{
    background-color: #060458;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.booking-form button:hover{
    background-color: #ffffff;
    color: #060458;
    border: 1px solid #060458;
}

.booking-form select{
    padding: 0.6rem 1rem;
    border: 1px solid #141361;
    width: 100%;
    margin-bottom: 2rem;
    font-size: 0.9rem;
    appearance: none;
    cursor: pointer;
    border-radius: 4px;
}

.booking-form select:focus{
    outline: none;
    border-color: #060458;
    box-shadow: 0 0 5px rgba(138, 43, 226, 0.5);
}

.booking-form input::placeholder,
.booking-form textarea::placeholder,
.booking-form select::placeholder{
    color: #060458;
    font-style: italic;
}