.footer{
      background-color: #060458;
  color: #ffffff;
  text-align: center;
  padding: 5px 5px;
  margin-top: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.footer-logo{
    font-size: 1.2rem;
    color: #ffffff;
}

.taglinee{
    font-style: italic;
    color: #cccccc;
    font-size: 1.2rem;
}

.footer-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.footer-links a{
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover{
    color: #a1a0e4;
}

.footer-copy{
    font-size: 0.9rem;
    color: #999999;
}

@media(max-width: 414px) 
{
.footer-links{
    gap: 10px;
    font-size: 0.9rem;
    font-weight: 400;
}
}